.sections-row, .sections-2-row {
  margin-top: 25px;
  display: none;

  .col-md-4 {
    font-size: 2em;
  }

  .fa {
    font-size: 4em;
  }
}

.interests {
  display: inline;
  font-size: 1.5em;
}

.hello-row {
  .hello {
    font-size: 5em;
  }

  .typed-cursor {
    visibility: hidden;
  }
}
