.sections-row, .sections-2-row {
  text-align: center;
  margin-top: 25px;
  display: none;

  .col-md-4 {
    font-size: 2em;
  }

  .fa {
    font-size: 4em;
  }
}

.interests-row {
  text-align: center;

  .interests {
    display: inline;
    font-size: 1.5em;
  }
}

.hello-row {
  text-align: center;

  .hello {
    font-size: 5em;
  }

  .typed-cursor {
    visibility: hidden;
  }
}
