@charset "utf-8";
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css';
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "normalize";
@import "colors";
@import "typography";
@import "typed";
@import "home";

body {
  background: $light-background;
  color: $dark-background;
  text-align: center;
  font-family: "Roboto Mono", "Helvetica Neue", Helvetica, Arial, monospace;
  font-size: 1em;
}

.container {
  margin-top: 15px;
}
