---
title: Open Source
---

.row
  .col-md-12.header
    h1 Open Source
    br
    p This is a mix of open source projects I commmited to and other ones that I created myself.

h3 nba_rb
p
| `nba_rb` is a Ruby port I've written of the homonymous Python gem. It gives you the ability to scrape `nba.com/stats` and wraps the results
|  in easy to access Ruby classes. You can read more about it on
a href='https://github.com/fanahova/nba_rb' target='_blank'  Github

h3 CCPhilly
p
| My girlfriend moved to Philadelphia for work in 2015, which meant I started spending a lot of time there. I built `ccphilly.xyz` during that time.
|  It's a website that ranks coffee shops by Wifi speed, noise level and outlet amounts rather than food. The backend is built with Rails 5, while the frontend is Ember.js.
|  All code is open sourced on
a href='https://github.com/CoffeeCodePhilly' target='_blank'  Github
| and has the support of the phillydev Slack group (which I encourage you to join if you live in the Philly/South NJ area!)

h3 Smart Torvy
p
| Smart Torvy is an open source home automation ecosystem. My friend Andrea and I worked on it during college and showcased it at Maker Faire twice, being selected as one of the best projects there.
| Open sourced materials include code for our AT-Mega boards, the Raspberry Server, the schematics of the hardware and the 3D designs for the cases.
| You can learn more on the website
a href='http://smarttorvy.me' target='_blank'  http://smarttorvy.me

h3 Philly.rb Workshop
p
| I held workshops in Philadelphia for the Philly.rb group. The last one was about creating an API for Hearthstone data based on Rails 5.
a href='https://github.com/FanaHOVA/phillyrb-workshop' target='_blank'  Github Repo

h3 Development boilerplates
p
| Who doesn't like those?
a href='https://github.com/FanaHOVA/devise-api-boilerplate' target='_blank'  Rails 5 + Devise
|  and
a href='https://github.com/FanaHOVA/ember-devise-boilerplate' target='_blank'  Ember.js + Devise

h3 alexreisner/geocoder
p
| Commited a small feature PR to add batch reverse geocoding in the gem Rake tasks. Commit:
a href='https://github.com/alexreisner/geocoder/commit/99a449f1696ba00756681f2efb525ce66e129f7f' target='_blank'  99a449

h3 stympy/faker
p
| Added eSports names for teams and players. Commit:
a href='https://github.com/stympy/faker/commit/026b8679fea2eb28e5bcbdaa4fc43ea9688d0812' target='_blank'  026b86
