---
title: Sports Data
---

.row
  .col-md-12.header
    h1 Sports Data

h3 nba_rb
p
| `nba_rb` is a Ruby port I've written of the homonymous Python gem. It gives you the ability to scrape `nba.com/stats` and wraps the results
|  in easy to access Ruby classes. You can read more about it on
a href='https://github.com/fanahova/nba_rb' target='_blank'  Github

h3 NFL Queries
p
| I built this in 2016 more for fun than anything; it's meant to help you find useless trivias that companies like ESPN love so much.
|  For example, did you know that Marlon Moore and Mario Alford are the only 2 players in the NFL whose name starts with M, wear #15 and weigh less than 200lbs? Now you do.
|  The code is open sourced
a href='https://github.com/FanaHOVA/nflqueries' target='_blank'  here
|  while the website is currently down as I update the database and renew the domain (whoops!)

h3 Other Projects
p
| I love sports and and data. I'm currently reading Basketball on Paper by Oliver and some other papers related to Vegas lines predictions, while trying to build some predictive models and tools to analyze performance.
|  If you're into that kind of thing, feel free to reach out to me, I always like talking about it and share . My mail is fana (at) alessiofanelli.com
